body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b6e2d3;;
    color: #605858;
}

header {
    background-color: #85bf4b;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    width: 97.5%;
}

nav {
    background-color: #50bfbf;
    overflow: hidden;
    width: 100%;
}

nav a {
    float: left;
    display: block;
    color: #ffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    font-size: 15px;
    font-style: bold;

}

nav a:hover {
    background-color: #00000048;
}

.setbackground {
    position: relative;
    padding: 40px 20px;
    margin: 20px;
    background-color: #b6e2d3;;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
    height: 550px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: left;
    font-size: 2em;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-size: 2em;
    color: #9877ad;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: rgb(10, 31, 93);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #000000;
}



#foot {
    background-color: #85bf4b;
    color: white;
    text-align: center;
    padding: 40px;
    overflow: hidden;
}

#footnav p a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}



#social-icons,
#footnav,
#contact-info {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px;
}

#social-icons a {
    margin-right: 10px;
}

#contact-info h1 {
    font-size: 20px;
    margin-top: 2px;
}

#contact-info p a {
    text-decoration: none;

}

#con p {
    margin: 20px;
    margin-top: 0%;
}


#social-icons {
    display: flex;

    flex-direction: column;
    /* Align items vertically */
    align-items: center;
    /* Center items horizontally */
    margin-top: 10px;
}

#social-icons a {
    margin-bottom: 0px;
    /* Add some space between each social icon */
}
.p {
    margin-top: -80px;
    float: right;
    left: 100px;

}

.p {
    margin-right: 90px;
    
}